@page "~/"
@model IndexPageModel
@using Husky.GridQuery;

<p>@_me.DisplayName</p>
<p>AnonymousId: @_me.AnonymousId</p>
<p>Id: @_me.Id</p>
<p>DisplayName: @_me.DisplayName</p>
<p>IsConsolidated: @_me.IsConsolidated</p>

<p>Config</p>
<p>@nameof(_config.JustConfigureYourSettingsInThisWay): @_config.JustConfigureYourSettingsInThisWay</p>
<p>@nameof(_config.AnotherConfigItem): @_config.AnotherConfigItem</p>

<div style="height: 20rem">
	@(Html.Grid<TestGridModel>("/TestGrid/TestGridDataRows"))
</div>

<p></p>
<form method="post" asp-page="@PageContext.ActionDescriptor.DisplayName">
	<button type="submit">Submit</button>
	<a href="/">Redirect</a>
	@if (Request.Method == "POST") {
		<p>Submitted</p>
		<p>@Model.TellHim</p>
	}
</form>

<p></p>
@foreach (var item in Model.RequestLogs) {
	<p>@item.AnonymousId, @item.UserName, @item.HttpMethod, @item.Url, @item.Repeated, @item.LastTime, @item.Md5Comparison</p>
}